.flex-container{
    @include backgroundImage($desktopTop, contain, no-repeat);
    display: flex;
    flex:{
        wrap: wrap;
        direction: row;
    }//End flex
    .flex-child{
        flex: 1;
    }//End
}//End

@media only screen and (max-width: 740px){
    .flex-container{
        @include centerAll(center);
        @include backgroundImage($mobileTop, contain, no-repeat);
        flex-direction: column;
    }//End
  
}