html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}//End body

footer{
    background:{
        image:url("/images/bg-pattern-bottom-desktop.svg");
        size: contain;
        repeat: no-repeat;
    }//End background
}//End footer