@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap');

//Text
$spartan: 'Spartan', sans-serif;
//Font Size
$fifteenPx: 15px;
//Font Weight
$fourHundred: 400;
$fiveHundred: 500;
$sevenHundred: 700;
